
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
    --cor-principal: #19181B;
    --cor-secundaria: #EED60F;    ;
    --cor-terciaria: #FF2A52;
    --cor-fundo: #eef0f6;
    --branco: #ffffffff;
    --verde: rgb(151, 255, 151);
    --degrade-background: radial-gradient(62.06% 296.09% at 80.38% 100%, #365E75 0%, #0E1C24 100%);
    --fontePrincipal: 'Raleway'; 
    --fonteTitulo: 'Lora';
}

header {
    position: fixed;
    padding: .5rem;
    box-sizing: border-box;
    color: var(--branco);
    width: 100%;

    transition: .3s;
}

.ativo {
    background: rgba(0, 32, 48, 0.45);
    backdrop-filter: blur(7px);
}

a {
    text-decoration: none;
    color: var(--branco);
}

h1, h2, h3, h4, p {
    line-height: normal;
}

body {
    background: var(--cor-fundo);
    font-family: var(--fontePrincipal);
}

main {

}

.limitador {
    max-width: 960px;
    margin: auto;
}

/* //.................................
//.nnnnnnnn....aaaaaa..aavv..vvvv..
//.nnnnnnnnn..aaaaaaaa.aavv..vvvv..
//.nnnn.nnnnnnaaa.aaaaaaavv.vvvv...
//.nnnn..nnnn....aaaaaa.avvvvvvv...
//.nnnn..nnnn.aaaaaaaaa.avvvvvvv...
//.nnnn..nnnnnaaaaaaaaa.avvvvvv....
//.nnnn..nnnnnaaa.aaaaa..vvvvvv....
//.nnnn..nnnnnaaa.aaaaa..vvvvvv....
//.nnnn..nnnnnaaaaaaaaa..vvvvv.....
//.nnnn..nnnn.aaaaaaaaa...vvvv.....
//................................. */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: var(--fontePrincipal);
    font-size: 1.5rem;
    font-weight: 700;
    padding: .5rem 2rem;
    border: none;
    background: var(--verde);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;

    transition: .3s;
}

button:hover {
    background: var(--branco);
}

.texto__botao__header {
    display: none;
    transition: .3s;
}

.texto__botao__header__ativo {
    display: block;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
    font-weight: 200;
    text-transform: uppercase;
    color: var(--branco);
    flex-wrap: wrap;
}

nav > ul > li {
    text-decoration: none;
}

nav ul li a {
    position: relative;
}

nav ul li a::after {
    content: " ";
    position: absolute;
    bottom: -5px;
    width: 0%;
    height: 3px;
    left: 0;
    background-color: var(--branco);

    transition: .5s ease-in-out;
    /* transform: scaleX(0); */
}

nav ul li a:hover::after {
    /* transform: scaleX(1); */
    width: 100%;
}

.header__logo {
    font-weight: 400;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

/* //.........................................
//.hhhh....................................
//.hhhh....................................
//.hhhh....................................
//.hhhhhhhh....eeeeee..eerrrrrr..oooooo....
//.hhhhhhhhh..eeeeeeee.eerrrrrrroooooooo...
//.hhhh.hhhhhheee.eeee.eerrr...rooo.ooooo..
//.hhhh..hhhhheee..eeeeeerr...rroo...oooo..
//.hhhh..hhhhheeeeeeeeeeerr...rroo...oooo..
//.hhhh..hhhhheeeeeeeeeeerr...rroo...oooo..
//.hhhh..hhhhheee......eerr...rroo...oooo..
//.hhhh..hhhhheee..eeeeeerr....rooo.ooooo..
//.hhhh..hhhh.eeeeeeee.eerr....roooooooo...
//.hhhh..hhhh..eeeeee..eerr......oooooo....
//......................................... */

.hero {
    /* height: 100vh; */
    padding: 106px 0 40px 0;
    background: var(--degrade-background);
    max-height: 800px;
    /* display: flex;
    max-height: 600px; */

    
}

.hero__componentes {
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero__textos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero__textos > h1 {
    color: #FFF;
    font-size: 2.625rem;
    font-family: var(--fonteTitulo);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.hero__textos > h3 {
    color: #FFF;
    font-size: 1.125rem;
    font-family: var(--fontePrincipal);
    font-style: normal;
    font-weight: 400;
}

.hero__textos > button {
    justify-content: center;
}

.hero__imagem__responsivo {
    display: none;
}

/* //........................................
//..sssssss....eeeeee..errrrrrrvvv..vvvv..
//.sssssssss..eeeeeeee.errrrrrrvvv..vvvv..
//.ssss.ssss.seee.eeee.errrr..rvvv.vvvv...
//.sssss.....seee..eeeeerrr....vvvvvvvv...
//..ssssss...seeeeeeeeeerrr....vvvvvvvv...
//...sssssss.seeeeeeeeeerrr....vvvvvvv....
//.......ssssseee......errr.....vvvvvv....
//.ssss..ssssseee..eeeeerrr.....vvvvvv....
//.sssssssss..eeeeeeee.errr.....vvvvv.....
//...ssssss....eeeeee..errr......vvvv.....
//........................................ */

.servicos__limitador {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    
}
.servicos__card {
    box-sizing: border-box;
    width: 100%;
    max-width: 228px;
    /* width: 228px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 32px;
    padding: 16px 0;
    background-color: #ffffff;
    flex-grow: 1;
    
}

.servicos__card > img {
    width: 100%;
    max-width: 64px;
}

.servicos__card > p {
    font-family: var(--fontePrincipal);
    font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
}

/* //.............................................................
//..sssssss.....oooooo..ommmmmmmmmmmmm.....oooooo...sssssss....
//.sssssssss..ooooooooo.ommmmmmmmmmmmmm..ooooooooo.ossssssss...
//.ssss.ssss..oooo.oooooommmm.mmmmmmmmm..oooo.oooooosss.ssss...
//.sssss.....sooo...ooooommm..mmmm..mmmmmooo...ooooossss.......
//..ssssss...sooo...ooooommm..mmmm..mmmmmooo...oooo.ssssss.....
//...sssssss.sooo...ooooommm..mmmm..mmmmmooo...oooo..sssssss...
//.......sssssooo...ooooommm..mmmm..mmmmmooo...oooo......ssss..
//.ssss..ssss.oooo.oooooommm..mmmm..mmmm.oooo.oooooosss..ssss..
//.sssssssss..ooooooooo.ommm..mmmm..mmmm.ooooooooo.ossssssss...
//...ssssss.....oooooo..ommm..mmmm..mmmm...oooooo....ssssss....
//............................................................. */

.quemsomos__limitador {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 72px;
    justify-content: center;
    align-items: center;
}

.quemsomos__limitador>h2 {
    color: #0E1C24;
    font-size: 2rem;
    font-family: var(--fonteTitulo);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 553px;
    text-align: center;
}

.quemsomos__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
}

.quemsomos__container > div > p {
    color: #0E1C24;
    font-size: 1rem;
    font-family: var(--fontePrincipal);
    font-weight: 400;
    max-width: 50ch;
}

.quemsomos__container > div > p:not(:last-child){
    margin-bottom: 16px;
}

.quemsomos__container > img {
    width: 100%;
    max-width: 392px;
}

/* //......................................................................
//............llll.iiii.......................ttt.......................
//............llll.iiii......................tttt.......................
//............llll...........................tttt.......................
//...cccccc...llll.iiii..eeeeee...nnnnnnnn.nntttttt.eeeeee...sssssss....
//..cccccccc..llll.iiii.eeeeeeee..nnnnnnnnnnntttttteeeeeeee.essssssss...
//.ccccc.cccc.llll.iiiiieee.eeee..nnnn.nnnnn.tttt.teee.eeee.esss.ssss...
//.cccc..ccc..llll.iiiiieee..eeee.nnnn..nnnn.tttt.teee..eeeeessss.......
//.cccc.......llll.iiiiieeeeeeeee.nnnn..nnnn.tttt.teeeeeeeee.ssssss.....
//.cccc.......llll.iiiiieeeeeeeee.nnnn..nnnn.tttt.teeeeeeeee..sssssss...
//.cccc..ccc..llll.iiiiieee.......nnnn..nnnn.tttt.teee............ssss..
//.ccccc.cccc.llll.iiiiieee..eeee.nnnn..nnnn.tttt.teee..eeeeesss..ssss..
//..ccccccccc.llll.iiii.eeeeeeee..nnnn..nnnn.tttttteeeeeeee.essssssss...
//...cccccc...llll.iiii..eeeeee...nnnn..nnnn.tttttt.eeeeee....ssssss....
//...................................................................... */

.clientes__limatador {
    padding-top: 72px;
}

.clientes__limatador > h2 {
    color: #0E1C24;
    font-size: 2rem;
    font-family: var(--fonteTitulo);
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

.clientes__limatador > div {
    display: flex;
    gap: 16px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 32px;
}

/* //.....................................................
//...ffffo.......................ttt...................
//..fffffo......................tttt...................
//..ffff........................tttt...................
//.ffffffo..oooooo.....oooooo.otttttte.eeeeee..rrrrrr..
//.ffffffoooooooooo..ooooooooootttttteeeeeeeee.rrrrrr..
//..ffff..oooo.ooooo.oooo.ooooo.tttt.eeee.eeee.rrrrr...
//..ffff.oooo...oooooooo...oooo.tttt.eeee..eeeerrrr....
//..ffff.oooo...oooooooo...oooo.tttt.eeeeeeeeeerrrr....
//..ffff.oooo...oooooooo...oooo.tttt.eeeeeeeeeerrrr....
//..ffff.oooo...oooooooo...oooo.tttt.eeee......rrrr....
//..ffff..oooo.ooooo.oooo.ooooo.tttt.eeee..eeeerrrr....
//..ffff..ooooooooo..ooooooooo..ttttteeeeeeeee.rrrr....
//..ffff....oooooo.....oooooo...ttttte.eeeeee..rrrr....
//..................................................... */

footer {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    background-color: var(--cor-principal);
    padding: 32px 64px;

    margin-top: 64px;
}

.footer__contatos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #ffffff;
    gap: 16px;
}


.footer__contatos > p {
    font-weight: 400;
    font-size: 1rem;
}

.footer__contatos > img {
    max-width: 50px;
}











@media only screen and (max-width: 960px) {
    .serviços, .quemsomos, .clientes, .footer__contatos {
        padding: 16px;
    }

    .hero {
        padding: 120px 16px 40px 16px;
    }

    .hero__imagem__responsivo {
        display: block;
        width: 100%;
    }

    .hero__imagem__desktop {
        display: none;
    }

    .hero__componentes {
        flex-direction: column;
        text-align: center;
        gap: 32px;
    }

    .header__logo > p {
        display: none;
    }
}

@media only screen and (max-width: 928px) {
    .quemsomos__imagem__resp {
        display: none;
    }
}

@media only screen and (max-width: 790px) {

    .servicos__card {
        width: 45%;
        max-width: none;
    }

    .header > ul > li {
        display: none;
    }
}

@media only screen and (max-width: 620px) {

    .header > ul > button {
        padding: 8px 16px;
    }

    .header > ul > button > img {
        /* width: 1rem; */
    }

    .header__logo > img {
        width: 50px;
    }

    .texto__botao__header {
        font-size: 1rem;
    }

    nav > ul {
        gap: 1rem;
    }

    .hero {
        padding: 80px 16px 40px 16px;
    }

    .hero__textos > h1 {
        font-size: 2rem;
    }

    /* .servicos__card {
        max-width: 156px;
    } */

    .clientes__limatador > div > img {
        max-width: 156px;
    }

    .clientes__limatador, .quemsomos__limitador {
        padding-top: 56px;
    }    
}